@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@model MVC_MovieTheater.Models.Movie

@*<h1>Home/Ticket</h1>
@{
    string movieTitle = "Notebook";
    string description = "Love story";
}

<span>Movie Title: @movieTitle</span>
<span>Description: @l</span>*@

<h2>@Model.MovieTitle</h2>